*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}
.maincontainer{
    position: relative;
    height: 500px;
    width: 400px;
    background-color: black;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 0 50px skyblue;
}
.maincontainer:hover{
animation: animate 1s linear infinite;
}
@keyframes animate{
    100%{
        filter: hue-rotate(360deg);
    }
}

.signin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
h2{
    color: white;
    font-size: 30px;
    text-align: center;
}
.input{
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid white;
}
.input label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: white;
    pointer-events: none;
}
.input input{
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: white;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
    transition: .5s;
}
.input input:focus~label,
.input input:valid~label{
    top: -5px;
}
.remember label{
    color: white;
    font-size: 14px;
}
.remember label input{
    accent-color: green;
}
button{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    border-radius: 30px;
    color: black;
}
.signup{
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
    color: wheat;
}
.signup p a{
    font-size: large;
    text-decoration: none;
    font-weight: 500;

}
.signup p a:hover{
    color: skyblue;
    text-decoration: underline;
}
